body {
    background-image: url("/images/lamborghiniMoon.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: black!important;
}

.navbar-brand {
    box-sizing: border-box;
}

.navbar-dark .navbar-nav .nav-link {
    color: white!important;
    font-weight: 300;
}

nav {
    height: 94px;
}

.bi {
    color: white;
    margin-left: 20px;
}

.bi-list {
    color: white;
}

#logo {
    max-height: 60px;
}